.more-handbook-container {
  min-height: 220px;
}

.image-handBook-more {
  width: 30%;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.content-handBook-more {
  width: 70%;
  .name-handBook {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  .author-handBook {
    i {
      margin-right: 7px;
    }
  }
  .content-handBook {
    margin-top: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
