.detail-view-more-content {
  margin-top: 80px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 15px;
  background-color: dodgerblue;
  .title-content {
    font-weight: 600;
    font-size: 25px;
    color: white;
  }
  label {
    font-size: 16px;
  }
}

.css-df17o1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
