.manage-specialty-container {
  .manage-body {
    .manage-specialty-img {
      .img-label {
        text-align: center;
      }
    }
    .btn-submit {
      border-radius: 5px;
      border: none;
      outline: none;
      width: auto;
      height: auto;
      padding: 8px 15px;
    }
  }
}
