.verify-email-container {
  margin-top: 100px;
  .title-loading {
    font-size: 20px;
    font-weight: bold;
  }

  .title-verify {
    font-size: 25px;
    font-weight: bold;
    color: cornflowerblue;
    .title-verify-failed {
      color: crimson;
    }
  }
  .more-verify {
    font-size: 18px;
    .link-verify {
      color: rgb(53, 118, 240);
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
